alabaster==0.7.12
appdirs==1.4.4
arrow==1.2.1
asgiref==3.4.1
Babel==2.9.1
backports.entry-points-selectable==1.1.1
binaryornot==0.4.4
black==21.11b1
blinker==1.4
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
ConfigUpdater==3.0.1
cookiecutter==1.7.3
distlib==0.3.3
Django==3.2.9
docutils==0.17.1
feedgenerator==2.0.0
filelock==3.3.2
identify==2.4.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.2
Jinja2==3.0.3
jinja2-time==0.2.0
Markdown==3.3.6
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
pathspec==0.9.0
pipenv==2021.11.15
platformdirs==2.4.0
poyo==0.5.0
pre-commit==2.15.0
Pygments==2.10.0
pyparsing==3.0.6
PyScaffold==4.1.1
pyscaffoldext-cookiecutter==0.1
pyscaffoldext-custom-extension==0.6.3
pyscaffoldext-django==0.1.1
pyscaffoldext-dsproject==0.6.1
pyscaffoldext-markdown==0.4.1
pyscaffoldext-travis==0.3
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
recommonmark==0.7.1
regex==2021.11.10
requests==2.26.0
rich==10.15.2
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
tomli==1.2.2
tomlkit==0.7.2
typing_extensions==4.0.0
Unidecode==1.3.2
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
zipp==3.6.0
